* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    line-height: 1.5;
}

.dark {
    --backgroundColor: rgb(32, 44, 54);
    --headerColor: rgb(43, 56, 68);
    --textColor: white;
}

.light {
    --backgroundColor: rgb(232, 241, 240);
    --headerColor: rgb(240, 245, 244);
    --textColor: rgb(0, 0, 0);
}

body {
    background-color: var(--backgroundColor);
    color: var(--textColor);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.custom-loader {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    top: 50px;
    background: conic-gradient(#081a8000 10%, #0e0a4a);
    -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
    animation: s3 1s infinite linear;
}

@keyframes s3 {
    to {
        transform: rotate(1turn)
    }
}


main {
    width: 100%;
    max-width: 1300px;
}

.toparrow {
    position: fixed;
    bottom: 5%;
    right: 10px;
    height: 35px;
    transform: rotate(-90deg);
    cursor: pointer;
}

header {
    height: 70px;
    width: 100%;
    background-color: var(--headerColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 25px;
    color: var(--textColor);
}

header div {
    cursor: pointer;
    font-size: 18px;
}

.changemode>span {
    margin-left: 5px;
    font-style: italic;
}


.main-section {
    margin: 25px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    background-color: inherit;
}

.input {
    height: 40px;
    width: 300px;
    background-color: var(--headerColor);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 15px;
}

.input>input {
    background-color: inherit;
    border: none;
    outline: none;
    margin-left: 8px;
    font-size: 18px;
    color: var(--textColor);
    width: 100%;
}

.filter {
    width: 150px;
    height: 100%;
    background-color: var(--headerColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
    position: relative;
}

.subfilter {
    display: flex;
    cursor: pointer;
    width: 100%;
    justify-content: space-between;

}

.fa-sort-down {
    transform: rotate(90deg);
}

.filterlist {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: inherit;
    width: 100%;
}

.hidden{
    display: none;
}

.filterlist li {
    list-style-type: none;
    padding: 5px 15px;
    cursor: pointer;
}

.filterlist li:hover {
    background-color: var(--headerColor);
}


.container {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
}

.card {
    width: 23%;
    max-width: 23%;
    height: auto;
    margin-bottom: 15px;
}

@media screen and (max-width: 868px) {
    .card {
        width: 31%;
        max-width: 31%;
    }
}

@media screen and (max-width: 640px) {
    header>h1 {
        font-size: 18px;
    }

    .card {
        width: 45%;
        max-width: 45%;
    }

    .changemode>span {
        display: none;
    }

    .changemode>i {
        font-size: 30px;
    }

    .main-section {
        align-items: flex-start;
        flex-direction: column;
        position: relative;
        margin-bottom: 100px;
    }

    .input {
        width: 75%;
    }

    .filter {
        position: absolute;
        right: 15px;
        top: 65px;

    }
}

@media screen and (max-width: 440px) {
    .card {
        width: 70%;
        max-width: 70%;
    }

    .input {
        width: 80%;
    }
}

@media screen and (max-width: 340px) {
    .card {
        width: 90%;
        max-width: 90%;
    }
}

.card div {
    width: 100%;
    height: 150px;
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.card h1 {
    font-size: 18px;
    font-weight: 600;
}

.card p {
    font-weight: 700;
}

.card p span {
    font-weight: 400;
}

/* css for info */

.return {
    position: relative;
    font-size: 22px;
    text-align: center;
    padding: 10px 10px;
    border: 2px solid var(--headerColor);
    background-color: var(--backgroundColor);
    width: 120px;
    top: 20px;
    left: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.return:hover {
    background-color: var(--headerColor);
}

.flag-more-info {
    height: 100vh;
    width: 100%;
}

.flag-info-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 80vh;
    gap: 50px;
}

.info {
    display: flex;
    gap: 100px;
}

.grid-infos {}

.region-name {
    font-size: 40px;
    margin-bottom: 20px;
}

.grid-infos p {
    line-height: 2;
}

.hidden {
    display: none;
}

#pagination {
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
}

#pagination button {
    background-color: orange;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    padding: 8px 20px;

    &:hover {
        background-color: darkorange;
    }
}